<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <php>
        <var name="db_dsn" value="mysql:dbname=freischutz_example;host=localhost"/>
        <var name="db_username" value="root"/>
        <var name="db_password" value=""/>
        <var name="db_dbname" value="freischutz_example"/>
    </php>

    <testsuites>
        <testsuite name="Freischutz Test Suite">
            <directory>./test/integration/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./test</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
